<ion-header>
  <ion-toolbar>
    <ion-title>Update Data Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nomor Pokok Mahasiswa</ion-label>
    <ion-input clearInput [(ngModel)]="npm" value="clear me"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nama</ion-label>
    <ion-input type="text" [(ngModel)]="nama" value="clear me"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="form-label">Jurusan</ion-label>
    <ion-input type="text" [(ngModel)]="jurusan" value="clear me"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="form-label">Prodi</ion-label>
    <ion-input type="text" [(ngModel)]="prodi" value="clear me"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="form-label">Kelas</ion-label>
    <ion-input type="text" [(ngModel)]="kelas" value="clear me"></ion-input>
  </ion-item>

  <ion-button type="submit" (click)="submit()" routerLink="/tabs/tab1" routerLinkActive="router-link-active"
    expand="block" color="primary">Submit</ion-button>
</ion-content>
